div(class="blood-infuser-recipe", typeof="schema:Action", property="schema:potentialAction")
    div(class="appendix-icon", rel="schema:instrument") !{appendixIcon}
    div(class="tier-icon", rel="schema:instrument") !{tierIcon}
    div(class="recipe-duration", property="schema:duration", datatype="xsd:duration")=duration
    div(class="inputs", rel="schema:item")
        .
            !{inputItem}
        .
            !{inputFluid}
    div(class="arrow") &rarr;
    div(class="output", rel="schema:result") !{output}